/*
 * Bold Application level overrides
 * (things that dont make sense in a toolkit :)
 * copyright @colossal 2015
 */

/* main app navbar */
.app-navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
}
.app-navbar .icon {
  margin-right: 5px;
}

/* wayne */
.app-block-wayne {
  background-color: #000;
}
.app-block-wayne .row {
  margin-bottom: 75px;
}

/* music grid */
/*.app-block-grid {
  margin-top: -25px;
}*/
.app-block-grid .container {
  position: relative;
  /*top: -75px;*/
  z-index: 2;
}
.app-block-grid img {
  width: 100%;
}

.logo {
	margin-bottom:  40px;
	width:70%;
	height:auto;
}
#ts-shop {
	padding: 20px 0;
}


/* chainz block */
.app-block-chainz {
  z-index: 5;
}
.app-block-chainz .block-bg {
  border-bottom: 10px solid #f06232;
}


/* kanye block */
.app-block-kanye {
  z-index: 4;
}
.app-block-kanye .block-bg {
  border-bottom: 10px solid #ff3167;
}


/* mosdef block */
.block-app-mosdef {
  z-index: 3;
  margin-bottom: -25px;
}
.block-app-mosdef .block-bg {
  border-bottom: 10px solid #f06232;
}


/* nicki */
.app-block-nicki {
  background-color: #e7e9d4;
}
.app-block-nicki h4 {
  font-weight: 400;
}
